/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/BasicOperations/nbproject/private/
/workshops/BasicOperations/build/
/assignments/unit1/HW02/JavaApplication12/nbproject/private/
/assignments/unit1/HW02/SpeedAndAcceleration/nbproject/private/
/assignments/unit1/HW02/SpeedAndAcceleration/build/
/assignments/unit1/HW02/SpeedAndAcceleration(short)/nbproject/private/
/assignments/unit1/HW02/SpeedAndAcceleration(short)/build/
/assignments/unit1/HW02/SpeedAndAccelerationInt/nbproject/private/
/assignments/unit1/HW02/SpeedAndAccelerationInt/build/