/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/BasicOperations/nbproject/private/
/workshops/BasicOperations/build/
/assignments/unit1/HW02/JavaApplication12/nbproject/private/
/assignments/unit1/HW02/SpeedAndAcceleration/nbproject/private/
/assignments/unit1/HW02/SpeedAndAcceleration/build/
/assignments/unit1/HW02/SpeedAndAcceleration(short)/nbproject/private/
/assignments/unit1/HW02/SpeedAndAcceleration(short)/build/
/assignments/unit1/HW02/SpeedAndAccelerationInt/nbproject/private/
/assignments/unit1/HW02/SpeedAndAccelerationInt/build/
/assignments/unit1/HW02/SpeedAndAccelerationFloat/build/
/assignments/unit1/HW02/SpeedAndAccelerationShort/build/
/workshops/unit1/WS04/LogicOperators/nbproject/private/
/workshops/unit1/WS04/LogicOperators/build/
/workshops/unit1/WS05/WS04Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/build/
/workshops/unit1/WS04LogicOperators/LogicOperators/build/
/workshops/unit1/WS04LogicOperators/LogicOperators/nbproject/private/
/assignments/unit1/HW03Iterations/NumberOfTheList/nbproject/private/
/assignments/unit1/HW03Iterations/NumberOfTheList/build/
/assignments/unit1/HW03Iterations/HW03Iterations/nbproject/private/
/assignments/unit1/HW03Iterations/HW03Iterations/build/
/assignments/unit1/HW03Iterations/WS03Iterations/nbproject/private/
/assignments/unit1/HW03Iterations/WS03Iterations/build/
/workshops/unit1/WS07Menus/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/WS07Menus/build/
/assignments/unit1/HW04Menus/JavaApplication22/nbproject/private/
/assignments/unit1/HW04Menus/HW04Menus/nbproject/private/
/assignments/unit1/HW04Menus/HW04Menus/build/
/exams/Unit1/question11/JavaApplication24/nbproject/private/
/exams/Unit1/question11/question11/nbproject/private/
/exams/Unit1/question11/LópezBrayanQ11/nbproject/private/
/exams/Unit1/question11/LópezBrayanQ11/build/
/workshops/unit1/WS08Corretion/ExamQ11Solution/nbproject/private/
/workshops/unit1/WS08Corretion/ExamQ11Solution/build/
/workshops/unit2/WS08Corretion/ExamQ11Solution/build/
/workshops/unit2/WS08Corretion/ExamQ11Solution/nbproject/private/
/assignments/unit2/HW08FactorialNumber/HW08FactorialNumber/nbproject/private/
/assignments/unit2/HW08FactorialNumber/HW08FactorialNumber/build/
/workshops/unit2/WS10Functions/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/WS10Functions/build/
/assignments/unit2/HW10Functions/HW10Functions/nbproject/private/
/assignments/unit2/HW10Functions/HW10Functions/build/
/assignments/unit2/HW09EmbenddedStructures/HW09EmbenddedStructures/nbproject/private/
/assignments/unit2/HW09EmbenddedStructures/HW09EmbenddedStructures/build/
/assignments/unit2/HW11Recursions/HW11Recursions/nbproject/private/
/assignments/unit2/HW11Recursions/HW11Recursions/build/
/assignments/unit2/HW11Recursions/HW11Factorial/nbproject/private/
/assignments/unit2/HW11Recursions/HW11Recursions2/nbproject/private/
/assignments/unit2/HW11Recursions/HW11Recursions2/build/
/assignments/unit2/HW11Recursions/WS11Recursions2/nbproject/private/
/assignments/unit2/HW11Recursions/WS11Recursions2/build/
/workshops/unit2/WS12Libraries/WS11Libraries/nbproject/private/
/assignments/unit2/HW11Recursions/HW12Recursions/nbproject/private/
/workshops/unit2/WS12Libraries/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/WS12Libraries/build/
/assignments/unit2/HW12Taxes/HW12ValueAddedTax(VAT)/nbproject/private/
/assignments/unit2/HW12Taxes/HW12Taxes/nbproject/private/
/assignments/unit2/HW12Taxes/HW12Taxes/build/
/workshops/unit2/WS13Task/WS13Task/nbproject/private/
/workshops/unit2/WS13Task/WS13Task/build/
/assignments/unit2/HW13Arrays/HW13Arrays/nbproject/private/
/assignments/unit2/HW13Arrays/HW13Arrays/build/
/workshops/unit2/WS14Arrays/JavaApplication43/nbproject/private/
/workshops/unit2/WS14Arrays/sportProducts/nbproject/private/
/workshops/unit2/WS14Arrays/sportProducts/build/
/workshops/unit2/WS14Arrays/FarmSimulator/nbproject/private/
/workshops/unit2/WS14Arrays/FarmSimulator/build/
/assignments/unit2/HW14Arrays/SportProoductsSimulator/nbproject/private/
/assignments/unit2/HW14Arrays/SportProoductsSimulator/build/
/quizes/ArrayQuiz22-02-2021/nbproject/private/
/quizes/ArrayQuiz22-02-2021/build/
/workshops/unit2/WS15QuizSolution22-02-2021/QuizSolution/nbproject/private/
/workshops/unit2/WS15QuizSolution22-02-2021/QuizSolution/build/
/workshops/unit2/WS15QuizSolution22-02-2021/QuizSolution/dist/
/workshops/unit2/WS16DimentionalArrays/WS16MatrixAdittion/nbproject/private/
/workshops/unit2/WS16BidimentionalArrays/WS16MatrixAdittion/nbproject/private/
/workshops/unit2/WS16BidimentionalArrays/WS16MatrixAdittion/build/
/assignments/unit2/HW15MatrixOperation/HW15MatrixOperation/nbproject/private/
/assignments/unit2/HW15MatrixOperation/HW15MatrixOperation/build/
/workshops/unit2/WS17MatrixTransposition/WS17MatrixTransposition/nbproject/private/
/workshops/unit2/WS17MatrixTransposition/WS17MatrixTransposition/build/
/workshops/unit2/WS17MatrixTransposition/WS17MatrixTransposition/dist/
/assignments/unit2/HW16MatrixFunctions/HW16MatrixFunctions/nbproject/private/
/assignments/unit2/HW16MatrixFunctions/HW16MatrixFunctions/build/
/exams/Unit2/Question11/LópezBQ11/nbproject/private/
/exams/Unit2/Question11/LópezBQ11/build/
/assignments/unit2/HW11Recursions/HW12Recursions/build/
/assignments/unit2/HW11Recursions/HW12Recursions/dist/
/workshops/unit3/WS19/LujeCatherineExam2/nbproject/private/
/workshops/unit3/WS19/LujeCatherineExam2/build/
/workshops/unit2/WS14Arrays/FarmSimulator/dist/
/workshops/unit3/WS21Functions/WS21Functions/nbproject/private/
/workshops/unit3/WS21Functions/WS21Functions/build/
/workshops/unit3/WS21Functions/WS21Functions/dist/
/workshops/unit3/WS22Modularity/ModularCalcultor/nbproject/private/
/workshops/unit3/WS22Modularity/ModularCalculator/nbproject/private/
/workshops/unit3/WS22Modularity/ModularCalculator/build/
/workshops/unit3/WS23Libraries/TaxDeclaration/nbproject/private/
/workshops/unit3/WS23Libraries/TaxLibrary/nbproject/private/
/workshops/unit3/WS23Libraries/TaxLibrary/build/
/workshops/unit3/WS23Libraries/TaxLibrary/dist/
/workshops/unit3/WS23Libraries/TaxDeclaration/build/
/workshops/unit3/WS23Libraries/JavaLibrary2/nbproject/private/
/assignments/unit3/WS17MatrixLibraries/MatrixOperations/nbproject/private/
/assignments/unit3/WS17MatrixLibraries/MatrixOperation/nbproject/private/
/assignments/unit3/WS17MatrixLibraries/MatrixOperation/build/
/assignments/unit3/WS17MatrixLibraries/BasicMatrix/nbproject/private/
/assignments/unit3/WS17MatrixLibraries/BasicMatrix/BasicMatrix/nbproject/private/
/assignments/unit3/WS17MatrixLibraries/MatrixLibrary/BasicMatrix/nbproject/private/
/assignments/unit3/WS17MatrixLibraries/MatrixCalculator/MatrixCalculator/nbproject/private/
/assignments/unit3/WS17MatrixLibraries/MatrixLibrary/BasicMatrix/dist/
/assignments/unit3/WS17MatrixLibraries/MatrixLibrary/BasicMatrix/build/
/assignments/unit3/WS17MatrixLibraries/MatrixCalculator/MatrixCalculator/build/
/workshops/unit3/WS24SortingAlgorithms/Sorting/nbproject/private/
/workshops/unit3/WS24SortingAlgorithms/Sorting/build/
/assignments/unit3/HW17MatrixLibraries/MatrixCalculator/MatrixCalculator/build/
/assignments/unit3/HW17MatrixLibraries/MatrixCalculator/MatrixCalculator/nbproject/private/
/assignments/unit3/HW17MatrixLibraries/MatrixLibrary/BasicMatrix/build/
/assignments/unit3/HW17MatrixLibraries/MatrixLibrary/BasicMatrix/dist/
/assignments/unit3/HW17MatrixLibraries/MatrixLibrary/BasicMatrix/nbproject/private/
/assignments/unit3/HW17MatrixLibraries/MatrixOperation/build/
/assignments/unit3/HW17MatrixLibraries/MatrixOperation/nbproject/private/
/assignments/unit3/HW18/BinarySearch/nbproject/private/
/assignments/unit3/HW18/HW18Sorting/nbproject/private/
/assignments/unit3/HW18/HW18Sorting/build/
/workshops/unit3/WS25OperationsWithStrings/EmployeesOfAConstruction/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/PartsOFAComputer/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/EmployeesOfConstruction/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/EmployeesOfConstruction/build/
/assignments/unit3/HW19Forms/HW19SearchingForms/nbproject/private/
/assignments/unit3/HW19Forms/HW19SearchingForms/build/
/assignments/unit3/HW19Forms/SortingIntegers/nbproject/private/
/assignments/unit3/HW19Forms/SortingIntegers/build/
/assignments/unit3/HW19Forms/SortingIntegers/dist/
/assignments/unit3/Nueva Carpeta/SortingRockHits/nbproject/private/
/assignments/unit3/Nueva Carpeta/SortingRockHits/build/
/assignments/unit3/HW20BookingSorting/SortingRockHits/build/
/assignments/unit3/HW20BookingSorting/SortingRockHits/nbproject/private/
/workshops/unit3/WS27ADT/ElectronicsStoreSystem/nbproject/private/
/workshops/unit3/WS27ADT/ElectronicsStoreSystem/build/
/exams/Unit3/Question31/LópezBZoo/ZooPark/nbproject/private/
/exams/Unit3/Question31/LópezBZoo/ZooParks/nbproject/private/
/exams/Unit3/Question31/LópezBZoo/ZooParks/build/
/workshops/unit3/WS29ExamCorrection/JavaApplication80/nbproject/private/
/workshops/unit3/WS29ExamCorrection/WS29ExamCorrection/nbproject/private/
/workshops/unit3/WS29ExamCorrection/WS29ExamCorrection/build/